@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #000;
    font-family: Roboto, sans-serif;
}
select:not([size]) {
    background-image: none;
}

a {
    text-decoration: dashed;
    color: blue;
}
.card {
    border: 0 solid var(--falcon-card-border-color);
    border-radius: 0.375rem;
    box-shadow: var(--falcon-box-shadow);
    background-color: #ecf0f3;
    color: #a0a5a8;
}

.card .card--heading {
    color: #31344b;
}

.bg-card {
    background-image: url(../img/corner-4.png);
    background-size: cover;
    background-position: right;
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}

.bg-holder {
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background-repeat: no-repeat;
}

.btn--primary {
    border-radius: 25px;
    letter-spacing: 1px;
    background-color: #4b70e2;
    color: #f9f9f9;
    box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #f9f9f9;
    border: none;
    outline: 0;
    padding: 10px 40px;
    transform: scale(1);
}

.btn--primary:focus,
.btn--primary:hover {
    color: #f9f9f9;
    box-shadow: 6px 6px 10px #d1d9e6, -6px -6px 10px #f9f9f9;
    transform: scale(0.985);
    transition: 0.25s;
}

.btn-tabs {
    background: #ecf0f3;

    color: #31344b;
}

.nav-tabs {
    background-color: #ecf0f3;
    box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9;
    padding: 20px;
}

.btn-tabs::before {
    content: "📒";
}

.btn-tabs.active::before {
    content: "📖";
}
